
  #product-detail-print,
  #product-detail-print * {
    visibility: visible;
  }


.gap-custom > * {
  margin-right: 1.5rem; /* O el tamaño de gap que desees */
  margin-bottom: 1.5rem;
}
.gap-custom > *:last-child {
  margin-right: 0;
}
.gap-custom-s > * {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.gap-custom-s > *:last-child {
  margin-right: 0;
}

/* Para flex-wrap, para evitar margen extra al final de la línea */
.gap-custom.flex-wrap > * {
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}
.gap-custom-s.flex-wrap > * {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}
/* Esto es una simplificación, para un control más fino, podrías usar selectores de :not(:last-child) */