.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #181818; /* gris oscuro */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(34, 34, 34, 0.15);
}

.login-container h2 {
  color: #ffd600; /* amarillo */
  margin-bottom: 20px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #232323;
  color: #fff;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #ffd600;
  color: #181818;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background 0.18s, color 0.18s;
}

.login-container button:hover {
  background-color: #fffde7;
  color: #222222;
}

