@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --primary: #f9f9f9
  --primary-dark: #222222;    
  --accent: #2d2d2d;          
  --bg: #181818;              
  --border: rgb(184, 184, 184);         
  --radius: 0.75rem;
  --shadow: 0 4px 24px 0 rgba(34, 34, 34, 0.10);
}

body {
  background: #f1f1f1;
  /* color: #fff; */
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
